.CoachInstance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
  }
  
  .UpperRow {
    width: 80%;
    flex-direction: row;
  }
  
  .PrevNext {
    width: 80%;
    display: flex;
    flex-direction: row; 
  }