.Coaches {
    text-align: center;
  }
  
.Coaches-header {
    background-color: #70163C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  