
.Instance {

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  width: 80%;

  margin: 2% auto

}

/* .UpperRow {

  width: 80%;

  flex-direction: row;

}

.PrevNext {

  width: 80%;

  display: flex;

  flex-direction: row; 

} */