.Splash {
    text-align: center;
  }
  
  .Splash-logo {
    height: 70vmin;
    width: 100%;
    pointer-events: none;
  }
  
  .Splash-header {
    background-color: #70163C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  