.Header {
    background-color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 4vmin);
    color: #70163C;
}

.Description {
    background-color: #70163C;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.PersonCard {
    background-color: white;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.PersonGrid {
    background-color: #70163C;
    min-height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.BottomText {
    background-color: #70163C;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Links {
    background-color: #70163C;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    font-size: calc(10px + 2vmin);
    color: white;

}

.Link {
    margin-left: 30px;
}


.Tools {
    background-color: #70163C;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Tool {
    margin-left: 30px;
}

.card-img-top {

  height: 20vw;
  object-fit: cover;
}
